body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h1{
	font-weight:bold;
	text-align: center;
}

.login {
  text-align: right;
  margin-right: 150px;
}

.label {
  font-weight:bold;
  width: 120px;
  display: inline-block;
}

.info {
  font-weight:bold;
  display: block;
}

.head {
	font-weight:bold;
  width: 200px;
  text-align: center;
}

textarea {
	resize: none;
} 

.request-holder {
  margin-left: 30px;
  font-weight:bold;
  display: inline-block;
}

.control{
  margin-left: 100px;
}

.errors {
    color: red;
    font-size: 17px;
}

#message {
    color: #F0E68C;
    font-size: 18px;
}

#progress {
    position:relative;
    width:400px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

#bar {
    background-color: #B4F5B4;
    width:0%; height:20px; border-radius: 3px;
}

#percent {
    position:absolute;
    display:inline-block;
    top:3px;
    left:48%;
}
