{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block content %}

  {% block content_title %}<h1>42 Coffee Cups Test Assignment</h1>{% endblock %}

  {% block css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% endblock %}
  
  {% block javascript %}
    <script type='text/javascript' src="{% static 'js/ajaxsubmit.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% endblock %}
  
  <br><br>
  <form enctype="multipart/form-data" action="" method="post" id="contactform">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-12 col-md-5 col-lg-5">
        <p><div class="label">Name:</div>{{form.name}}</p>
        <p><div class="label">Last name:</div>{{form.lastname}}</p>
        <div class="label">Date of birth:</div>{{form.dob}}
        <p><div class="label">Photo:</div>{{form.photo}}</p>
        <img id="images">
      </div>  
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="head">Contacts</div>
        <p><div class="label">Email:</div>{{form.email}}</p>
        <p><div class="label">Jabber:</div>{{form.jabber}}</p>
        <p><div class="label">Skype:</div>{{form.skype}}</p>
        <p><div class="label">Bio:</div></p>
        {{form.bio}}
        <p><div class="label">Other contacts:</div></p>
        {{form.othercontacts}}
      </div>  
    </div>
    <div class="control">
      <input type="submit" value="Save" id="sendbutton" class='btn btn-default'/>
      <a href="{% url 'home' %}" class='btn btn-default'>Cancel</a>
      <div id="progress">
        <div id="bar"></div>
        <div id="percent"></div >
      </div>
      <div id="message"></div>
    </div>
  </form>

  <hr/>
  <a href={% url 'requests' %}>requests</a>

{% endblock %}