{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

  {% block content_title %}<h1>42 Coffee Cups Test Assignment</h1>{% endblock %}

  
  
  <br><br>
  <div class="login"><a href ="{% url 'edit' %}"/>Edit</a></div>
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-5 col-lg-5">
      <p><div class="label">Name:</div>{{p.name}}</p>
      <p><div class="label">Last name:</div>{{p.lastname}}</p>
      <p><div class="label">Date of birth:</div>{{p.dob}}</p>
      <div class="info">Photo:</div><img height="200px" width="200px" src="{{p.photo.url}}"/>
    </div>  
    <div class="col-sm-12 col-md-5 col-lg-5">
      <div class="head">Contacts</div>
      <p><div class="label">Email:</div>{{p.email}}</p>
      <p><div class="label">Jabber:</div>{{p.jabber}}</p>
      <p><div class="label">Skype:</div>{{p.skype}}</p>
      <p><div class="label">Bio:</div></p>
      <textarea cols="40" readonly="readonly" rows="4">{{p.bio}}</textarea>
      <p><div class="label">Other contacts:</div></p>
      <textarea cols="40" readonly="readonly" rows="4">{{p.othercontacts}}</textarea>
    </div>  
  </div>

  <hr/>
  <a href={% url 'requests' %}>requests</a>

{% endblock %}