{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

    {% block content_title %}<h1>42 Coffee Cups Test Assignment</h1>{% endblock %}


  <br><br>
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-5 col-lg-5">
      <p><div class="label">Name:</div>   Aleksey</p>
      <p><div class="label">Last name:</div> Slobodiuk</p>
      <p><div class="label">Date of birth:</div> Jan. 19, 1993</p>
      <p><div class="label">Bio:</div></p>
      <textarea cols="30" readonly="readonly" rows="4">This is Bio. This is Bio. This is Bio.</textarea>
    </div>  
    <div class="col-sm-12 col-md-5 col-lg-5">
      <div class="head">Contacts</div>
      <p><div class="label">Email:</div> aslobodiuk@gmail.com</p>
      <p><div class="label">Jabber:</div> aslobodiuk@42cc.co</p>
      <p><div class="label">Skype:</div> aslobodiuk</p>
      <p><div class="label">Other contacts:</div></p>
      <textarea cols="40" readonly="readonly" rows="4">https://www.facebook.com/aslobodiuk
https://vk.com/alex_sl</textarea>
    </div>  
  </div>

{% endblock %}