{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
    
    <link rel="stylesheet" href="{% static 'css/theme.blue.css' %}">

    {% block javascript %}
        <script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.tablesorter.widgets.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/all_requests.js' %}"></script>
    {% endblock %}

    {% block content_title %}<h1>42 Coffee Cups Test Assignment</h1>{% endblock %}

    <form id="request_form" method="post" action="">
        {% csrf_token %}

        <div style="text-align: right; margin-right: 150px;">
            <a href="{% url 'requests' %}">Return</a>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <p><strong>Filter for priority: </strong></p>
                <button type="button" class="btn btn-success" data-filter-column="2" data-filter-text="True">True</button>
                <button type="button" class="btn btn-danger" data-filter-column="2" data-filter-text="False">False</button>
                <button type="button" class="reset btn btn-default">Reset</button>
                <table id="myTable" style="text-align:center" class="tablesorter">
                    <thead>
                        <tr>    
                          <th>Time</th>
                          <th>URL</th>
                          <th>Priority</th>
                          <th class="sorter-false">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ formset.management_form}}
                        {% for form in formset %}
                        <tr>
                            {{ form.id }}
                            <td>{{ form.instance.time }}</td>
                            <td>{{ form.instance.link }}</td>
                            <td>{{ form.priority.value }} {{ form.instance.link_type }}</td>
                            <td>{{ form.priority }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
{% endblock %}